.App {
  height: 100vh;
  width: 100%;
}
.AppBarTitles {
  font-weight: 600;
  color: #506690;
  padding: 8px 24px;
  line-height: 1.6;
  cursor: pointer;
  /* font-family: HKGroteskPro, serif; */
  font-size: 1.0625rem;
}
.ButtonWithBackgroundBlue {
  border-radius: 0.375rem;
  padding: 0.5625rem 1rem;
  background-color: #335eea;
  color: white;
  line-height: 1.6;
  border: 1px solid transparent;
  cursor: pointer;
  font-weight: 600;

  /* transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out,
    border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out; */
}
.lift {
  transition: box-shadow 0.25s ease, transform 0.25s ease;
}
.ButtonWithoutBackground {
  border-radius: 0.375rem;
  padding: 0.5625rem 1rem;
  background-color: rgba(51, 94, 234, 0.1);
  color: #335eea;
  line-height: 1.6;
  border: 1px solid transparent;
  cursor: pointer;
  font-weight: 600;
}
.thinList::-webkit-scrollbar {
  width: 7px;
  border: 5px solid transparent;
  border-radius: 15px;
}

.thinList::-webkit-scrollbar-thumb {
  background-color: #b0b0b0;
  background-clip: padding-box;
  border: 0.05em solid transparent;
  border-radius: 15px;
}
.h1,
.h2,
h1,
h2 {
  margin-bottom: 1rem;
}
.form-floating {
  position: relative;
}
.card-body {
  flex: 1 1 auto;
  margin: 0 20px;
  width: calc(100% - 40px);
  height: 249.8px;
}

.form-floating > .form-control,
.form-floating > .form-select {
  /* height: calc(3.5rem + 2px); */
  /* padding: 1rem 1.25rem; */
}
input:focus {
  outline: none !important;
  /* border: 1px solid #1e32fa; */
  background-color: transparent;
}
input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
  transition: background-color 5000s ease-in-out 0s;
}
.form-control {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  background-clip: padding-box;
  background-color: #fff;
  border: 1px solid #f1f4f8;
  border-radius: 0.375rem;
  box-shadow: none;
  color: #161c2d;
  display: block;
  font-size: 1.0625rem;
  font-weight: 400;
  line-height: 1.6;
  padding: 0.8125rem 1.25rem;
  transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
  width: 100%;
}
button,
input,
optgroup,
select,
textarea {
  font-family: inherit;
  font-size: inherit;
  line-height: inherit;
  margin: 0;
}
.form-floating > .form-control-flush ~ label {
  border-width: 0;
  padding-left: 0;
  padding-right: 0;
  display: flex;
  align-items: center;
}
.form-floating > label {
  color: #869ab8;
}
.form-floating > label {
  border: 1px solid transparent;
  height: 100%;
  left: 0;
  /* padding: 1rem 1.25rem; */
  pointer-events: none;
  position: absolute;
  top: 0;
  transform-origin: 0 0;
  transition: opacity 0.1s ease-in-out, transform 0.1s ease-in-out;
}
label {
  display: inline-block;
}

.w-100 {
  width: 100% !important;
}
.btn {
  background-color: transparent;
  border: 1px solid transparent;
  border-radius: 0.375rem;
  color: #161c2d;
  cursor: pointer;
  display: inline-block;
  font-size: 1.0625rem;
  font-weight: 600;
  line-height: 1.6;
  padding: 0.8125rem 1.25rem;
  text-align: center;
  transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out,
    border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
  -webkit-user-select: none;
  -moz-user-select: none;
  user-select: none;
  vertical-align: middle;
}
.btn-success {
  background-color: #42ba96;
  border-color: #42ba96;
  box-shadow: none;
  color: #fff;
}

.d-flex {
  display: flex !important;
}
.text-primary {
  color: #335eea !important;
}
.text-muted {
  color: #869ab8 !important;
}
.mb-6 {
  margin-bottom: 2rem !important;
}
.mb-1 {
  margin-bottom: 0.25rem !important;
}
.mt-6 {
  margin-top: 2rem !important;
}

.form-control-flush,
.form-floating > .form-control-flush {
  border-left-width: 0;
  border-radius: 0;
  border-right-width: 0;
  border-top-width: 0;
  padding-left: 0;
  padding-right: 0;
}
.text-success {
  color: #42ba96 !important;
}

.h1,
.h2,
.h3,
.h4,
.h5,
.h6,
h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: 400;
  line-height: 1;
  margin-bottom: 0.5rem;
  margin-top: 0;
}

.h2,
h2 {
  line-height: 1.35;
}
.h1,
.h2,
.h3,
.h4,
h1,
h2,
h3,
h4 {
  letter-spacing: -0.01em;
}
.fs-lg {
  font-size: 1.1875rem !important;
}
p {
  margin-bottom: 1rem;
  margin-top: 0;
}
.shape-blur-4 {
  bottom: 0;
  left: 50%;
  top: 0;
  transform: translateX(-50%) scale(1.3);
  width: 100%;
}

.card {
  word-wrap: break-word;
  background-clip: border-box;
  background-color: #fff;
  border: 0 solid #f1f4f8;
  border-radius: 0.375rem;
  display: flex;
  flex-direction: column;
  min-width: 0;
}
.shadow-lg {
  box-shadow: 0 1.5rem 4rem rgba(22, 28, 45, 0.1) !important;
}
.badge {
  border-radius: 0.375rem;
  color: #fff;
  display: inline-block;
  font-size: 0.75em;
  font-weight: 600;
  line-height: 1;
  padding: 0.25rem 0.75rem;
  text-align: center;
  vertical-align: baseline;
  white-space: nowrap;
}
.shape {
  pointer-events: none;
  position: absolute;
  display: block;
}
.text-gray-200 {
  color: #f1f4f8 !important;
}
.img-skewed-start {
  perspective-origin: 0;
}

.img-skewed {
  perspective: 1500px;
  transform-style: preserve-3d;
}
.img-skewed-start .img-skewed-item {
  /* -webkit-backface-visibility: hidden; */
  backface-visibility: hidden;
  transform: rotateY(-35deg) rotateX(15deg);
}
.screenshot {
  border-radius: 0.625rem;
  box-shadow: 25px 60px 125px -25px rgb(80 102 144 / 10%),
    16px 40px 75px -40px rgb(0 0 0 / 20%);
}
.img-fluid,
.img-thumbnail {
  height: auto;
  max-width: 100%;
}
img,
svg {
  vertical-align: middle;
}
.flickity-prev-next-button {
  align-items: center;
  background-color: #335eea;
  box-shadow: 0 0.5rem 1.5rem rgb(22 28 45 / 5%);
  color: #fff;
  display: flex;
  height: calc(1.6em + 1.625rem + 2px);
  justify-content: center;
  width: calc(1.6em + 1.625rem + 2px);
}
flickity-button {
  background: hsla(0, 0%, 100%, 0.75);
  border: none;
  color: #333;
  position: absolute;
}
.flickity-prev-next-button {
  border-radius: 50%;
  height: 44px;
  top: 50%;
  transform: translateY(-50%);
  width: 44px;
}
.align-items-center {
  align-items: center !important;
}
.justify-content-center {
  justify-content: center !important;
}
.pe-5 {
  padding-right: 1.5rem !important;
}

.list-inline,
.list-unstyled {
  list-style: none;
  padding-left: 0;
}
.text-reset {
  color: inherit !important;
}
a {
  color: #335eea;
  text-decoration: none;
}
.mb-3 {
  margin-bottom: 0.75rem !important;
}
text-decoration-none {
  text-decoration: none !important;
}
.me-3 {
  margin-right: 0.75rem !important;
}
dl,
ol,
ul {
  margin-bottom: 1rem;
  margin-top: 0;
}
